<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../../assets/bootstrap-4.5.2/assets/dist/css/bootstrap.min.css">
</head>

<body>
	<!-- general form elements disabled -->
	<section class="pt-2 content">
		<div class="container-fluid">
			<div class="card card-primary">
				<div class="card-header">
					<h5 class="card-title">RESI PENGIRIMAN BARANG</h5>
				</div>
				<!-- /.card-header -->

				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<!-- logo & barcode-->
							<div class="row pr-3">
								<div class="col-6 text-center">
									<img src="../../assets/img/logo.png" alt="logo argopuro kurir" class="img-fluid" width="60%">
								</div>
								<div class="card col-6">
									barcode
								</div>
							</div><br>
							<!-- /.logo & barcode-->
							<div class="pl-2 card">
								<h5>PENGIRIM</h5>
								<div class="row">
									<div class="col-4">NAMA</div>
									<div class="col-7">Moch. Iqbal Rosyidi</div>
								</div>
								<div class="row">
									<div class="col-4">ALAMAT</div>
									<div class="col-7">JALANIN AJA</div>
								</div>
								<div class="row">
									<div class="col-4">NOMOR HP</div>
									<div class="col-7">081234567890</div>
								</div>
								<div class="row">
									<div class="col-4">KETERANGAN ALAMAT</div>
									<div class="col-7">DIDEPAN ADA BELOKAN LURUS AJA BIAR NABRAK</div>
								</div>
								<div class="row">
									<div class="col-4">NOMOR REKENING</div>
									<div class="col-7">834928746</div>
								</div>
							</div><br>
						</div>
						<div class="col-sm-6">
							<div class="pl-2 card">
								<h5>Penerima</h5>
								<div class="row">
									<div class="col-4">NAMA</div>
									<div class="col-7">Moch. Iqbal Rosyidi</div>
								</div>
								<div class="row">
									<div class="col-4">ALAMAT</div>
									<div class="col-7">JALANIN AJA</div>
								</div>
								<div class="row">
									<div class="col-4">NOMOR HP</div>
									<div class="col-7">081234567890</div>
								</div>
								<div class="row">
									<div class="col-4">KETERANGAN ALAMAT</div>
									<div class="col-7">DIDEPAN ADA BELOKAN LURUS AJA BIAR NABRAK</div>
								</div>
							</div><br>
							<div class="pl-2 card ">
								<h5>DESKRIPSI PENGIRIMAN</h5>
								<div class="row">
									<div class="col-4">KETERANGAN BARANG</div>
									<div class="col-7">BOM ATOM</div>
								</div>
								<div class="row">
									<div class="col-4">HARGA BARANG</div>
									<div class="col-7">Rp. 283.198.363</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<form action="">
				<div class="row">
					<div class="col-6">
						<div class="form-check-inline">
							<label class="form-check-label" for="radio1">
								<input type="radio" class="form-check-input" id="radio1" name="optradio" value="1" checked>Dalam Proses
							</label>
						</div>
						<div class="form-check-inline">
							<label class="form-check-label" for="radio2">
								<input type="radio" class="form-check-input" id="radio2" name="optradio" value="2">Diterima Kantor
							</label>
						</div>
					</div>
					<div class="col-6 text-right">
						<button type="submit" class="btn btn-primary">KONFIRMASI</button>
					</div>
				</div>
			</form>
		</div>
		<!-- /.card-body -->
	</section>
</body>

</html>
